body {
 background-color: #4b7A1C;
 color: #CC0066;
 font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.card {
 background-color: #;
 width: 100%;
}

.card-footer {
 color: #CC0066;
}

.btn-magenta{
 background-color: #CC0066;
 color: white;
}